.swipeable-comments {
  font-family: sans-serif;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.swipeable-comments > div > div > .react-swipeable-view-container > div {
  border-radius: 4px;
  background: #232323;
  margin: 0 0px; /* left/right needs to correspond to slideContainer width */
  position: relative;
  overflow: auto !important;
  scrollbar-gutter: stable both-edges;
}

.swipeable-comments > div > div > .react-swipeable-view-container {
  height: 0;
}

.react-swipeable-view-container > div {
  overflow: initial !important;
}

body {
  overflow-y: hidden;
}

.comments {
  transition: all 1s ease-in-out 1s;
}

.swipeable-views {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: initial !important;
  contain: paint; /*might be necessary to prevent visual alignment errors when 
  moving views with overflow, but this prevents dragging from working*/
  /* transition: all 2s ease 1s; */
  /* min-height: 2000px; */
}

.children-comments {
  /* min-height: 100vh; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.children-comments-scrolled {
  background-color: 'blue';
}

.comment-header {
  display: flex;
  border-radius: 4px;
  margin: 0rem 2rem 0 2rem;
}

.comment-body {
  padding: 0;
  color: #dcdcdc;
  background: #2c2c2c;
  z-index: 100;
  contain: paint; /* I'm not sure if this is needed */
  margin: 0 5px;
}

.comment {
  border: solid;
  border-color: #151515;
  border-width: 1px;
  border-radius: 4px;
}

.comment-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #dedede;
  background: #2a2a2a;
  flex-grow: 1;
  flex-shrink: 0;
  text-align: center;
  padding: 0 0.3rem;
}

/* .comment-top {
  top: 0px;
  margin: 0;
} */

.comment-bottom {
  margin-bottom: 2rem;
}

.spacer {
  height: 10px;
  background: #424242;
  margin: 0rem 4rem 0 4rem;
  border: black;
  border-width: 0 1px;
  border-style: solid;
}

.disabled {
  color: #9b9b9b;
}

.slider {
  flex-grow: 3;
  -webkit-appearance: none;
  height: 20px;
  background: #232323;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  max-width: 40px;
  height: 20px;
  background: #5d5d5d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #929292;
  cursor: pointer;
}

.loadMoreComments {
  background-color: rgb(94, 94, 94);
  border: none;
  color: rgb(224, 224, 224);
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
}

.loadMoreRepliesDiv {
  display: flex;
  justify-content: center;
}

.loadMoreRepliesDiv > button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 14px;
}

.handle {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 18px;
  height: 100%;
  line-height: 18px;
  border: 1px solid #bbb;
  background-color: #f1f1f1;
}

.handle.active {
  background-color: grey;
}

.bar {
  position: relative;
  background: #ccc;
  height: 100%;
}

.bar.bar-1 {
  background: rgb(197, 197, 197);
}

/* Define the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}

/* Define the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 4px;
}

/* Define the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #4d4d4d;
}
